<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@DateTime.Now.ToString() - Report</title>
    <link href="~/styles.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
